.ball {
  border-radius: 100%;
  margin-left: 20px;
  border: solid black 1px;
  display: inline-block;
  width: 80px;
  height: 80px;
}

body {
  background-color: purple;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

#reset-game {
  margin-left: 300px;
}
